<%- include('partials/header') %>

    <!-- nav bar -->
    <nav class="Nunito">
        <ul>
            <li><img src="../assets/images/song_images/logo.png" alt="logo" class="logo" /></li>
            <li>Home</li>
            <li>About</li>
        </ul>
    </nav>

    <!-- song section -->
    <div class="songSection Ubuntu">
        <!-- song 1 -->
        <div class="song">
            <img src="../assets/images/song_images/arcade.png" alt="arcade" class="imgRound" />
            <p>Arcade</p>
            <button class="s1 playSongButton">
                <i class="fa fas fab fa-play"></i>
            </button>
        </div>
        <!-- song 2 -->
        <div class="song">
            <img src="../assets/images/song_images/can we kiss forever.png" alt="can we kiss forever"
                class="imgRound" />
            <p>Can we kiss forever</p>
            <button class="s2 playSongButton">
                <i class="fa fas fab fa-play"></i>
            </button>
        </div>
        <!-- song 3 -->
        <div class="song">
            <img src="../assets/images/song_images/faded.png" alt="faded" class="imgRound" />
            <p>Faded</p>
            <button class="s3 playSongButton">
                <i class="fa fas fab fa-play"></i>
            </button>
        </div>
        <!-- song 4 -->
        <div class="song">
            <img src="../assets/images/song_images/let me love you.png" alt="let me love you" class="imgRound" />
            <p>Let me love you</p>
            <button class="s4 playSongButton">
                <i class="fa fas fab fa-play"></i>
            </button>
        </div>
        <!-- song 5 -->
        <div class="song">
            <img src="../assets/images/song_images/night changes.png" alt="night changes" class="imgRound">
            <p>Night Changes</p>
            <button class="s5 playSongButton">
                <i class="fa fas fab fa-play"></i>
            </button>
        </div>
        <!-- song 6 -->
        <div class="song">
            <img src="../assets/images/song_images/sia.png" alt="sia unstoppable" class="imgRound" />
            <p>Sia Unstoppable</p>
            <button class="s6 playSongButton">
                <i class="fa fas fab fa-play"></i>
            </button>
        </div>
    </div>

    <div class="container buttons">
        <section class="home-section">
            <!-- carousel -->
            <div class="carousel">
                <img src="../assets/images/cover/cover 1.png" class="active" alt="">
                <img src="../assets/images/cover/cover 2.png" alt="">
                <img src="../assets/images/cover/cover 3.png" alt="">
                <img src="../assets/images/cover/cover 4.png" alt="">
                <img src="../assets/images/cover/cover 5.png" alt="">
                <img src="../assets/images/cover/cover 6.png" alt="">
            </div>
        </section>
        <div class="row">
            <div class="col-12">
                <input type="range" name="" id="range" class="w-100">
            </div>
            <div class="col-12 mt-3">
                <div class="btn d-flex justify-content-between">
                    <img src="../assets/images/song_images/previous.png" alt="previous" />
                    <img src="../assets/images/song_images/play.png" alt="play" />
                    <img src="../assets/images/song_images/next.png" alt="next" />
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>