* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: rgb(243, 224, 189);
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

button {
  cursor: pointer;
}

nav ul {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100vw;
}

nav ul li {
  list-style: none;
  font-size: 2rem;
  padding: 4px 4px;
  cursor: pointer;
}

.logo {
  width: 9rem;
  padding-top: 6px;
}

.songSection {
  background: url("../images/cover1.jpg");
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto auto;
  margin-top: 4vh;
  height: 70vh;
  width: 60rem;
}

.song {
  display: flex;
  padding: 8px 1rem;
}

.song p {
  font-size: 1rem;
  padding: 18px 14px;
}

.song img {
  width: 4rem;
}

.imgRound {
  filter: grayscale(100%);
  border: 1px solid white;
  border-radius: 90px;
}

.home-section {
  width: 50vw;
  padding: 20px;
  margin: auto;
  padding-bottom: 100px;
  overflow-y: auto;
}

.carousel {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--shadow);
  position: relative;
}

.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
}

.carousel img.active {
  opacity: 1;
}

.playSong,
.pauseSong {
  background-color: white;
  border-radius: 4rem;
  cursor: pointer;
}

.playSongButton {
  width: 12vh;
  scale: 1.2;
  background-color: transparent;
  border: none;
}

.buttons {
  background: url("../assets/images/cover/bg.png") no-repeat;
  background-size: contain;
  height: fit-content;
  width: 62.5vw;
  margin: auto;
}

.btn_div {
  background-color: white;
  width: 96% !important;
}

.buttons input {
  width: 60vw;
  margin-left: 12px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60rem;
  gap: 2rem;
}

.btn img {
  display: flex;
  justify-content: center;
  width: 2rem;
  padding: 1rem 0;
  cursor: pointer;
}
